
{% load crispy_forms_tags %}
<style>
        body {
            background: #f0f0f0;
        }
        .login-container {
            max-width: 400px;
            margin: 60px auto;
            padding: 2rem 2.5rem;
            background: #000000;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        }
        .login-title {
            font-weight: 700;
            margin-bottom: 1.5rem;
            color: #0d6efd;
        }
    </style>
{% block content %}
<div class="content-section">
    <form method="post" >
        {% csrf_token %}
        <fieldset class="login-container>
            <legend class="border-bottom mb-4">Register</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
             <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <div>
        <small>Already have an account? <a href="{% url 'login' %}"><small class="btn-primary">Sign in</small></a></small>
    </div>
</div>



{% endblock %}